@media screen and (min-width: 425px) {
  .gridbox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    padding-bottom:2rem;
    padding-top: 2rem;
  }
}


@media only screen and (max-width: 600px) {
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .div5 {
    grid-area: 3 / 1 / 4 / 3;
  }
}
