@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dash-container {
  background-color: #0A111F; /*Replace with the actual color value of $danu-dark-dark*/
  padding: 0px 20px 0px 20px; /*Reduced padding for example*/
  box-sizing: border-box;
}

.dash-container a {
  text-decoration: none;
}

@media (max-width: 1180px) {
  .dash-container {
    padding: 20px 30px 0px 30px;
  }
} 

@media (max-width: 820px) {
  .dash-container {
    padding: 22px 20px 22px 20px;
  }
}

@media (max-width: 425px) {
  .dash-container {
    padding: 22px 20px 22px 20px;
  }
}
